@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    top: 50px;
}

.container {
    background-color: variables.$ligthGrayishCyan;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    background-color: variables.$white;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    gap: 30px;
}

/* 1st section */

.calc__1st-section {
    width: 50%;
}

.calc__1st-section__btns__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.calc__1st-section__bill__label {
    font-size: 13px;
    color: variables.$darkGrayishCyan;
    font-weight: 600;
}

.calc__1st-section__bill__container {
    border: 1px solid #ccc;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calc__1st-section__bill {
    display: flex;
    flex-direction: column;
}

.calc__1st-section__bill__input {
    border: none;
    background-image: url('../assets/icon-dollar.svg');
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: left;
    background-position-x: 14px;
    padding: 6px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: variables.$veryDarkCyan;
    background-color: variables.$veryLightGrayishCyan;
    text-align: right;
    border-radius: 4px;
    border: 1px solid #ffffffff;
}

.calc__1st-section__bill__input:focus {
    outline: none;
    border: 1px solid variables.$strongCyan;
}

.calc__1st-section__btns__label {
    grid-column: 1 / 4;
    font-size: 13px;
    color: variables.$darkGrayishCyan;
    font-weight: 600;
}

.calc__1st-section__numofpeople__label {
    color: variables.$darkGrayishCyan;
    font-size: 13px;
    font-weight: 600;
}

/* 2nd section */

.calc__2nd-section{
    background-color: variables.$veryDarkCyan;
    width: 50%;
    padding: 25px;
    border-radius: 15px;
}

.calc__2nd-section__bill {
    display: flex;
    justify-content: space-between;
}